<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    th:replace="~{customer/layouts/base :: layout(~{::title},~{::body/content()})}">

<head>
    <title>注文履歴</title>
</head>

<body>
    <h1>注文履歴</h1>

    <main class="order-history-wrapper">
        <section class="order-history-list">
            <div class="order-item">
                <div class="order-header">
                    <span class="order-date">2024年12月15日</span>
                    <span class="order-number"></span> <!-- ←ここにorderNumber1を表示する -->
                </div>
                <div class="order-details">
                    <div class="product-list">
                        <div class="product-item">
                            <img th:src="@{/product-images/dummy/main_sample.png}" alt="商品画像" class="product-image">
                            <div class="product-info">
                                <h3></h3> <!-- ←ここにproduct1を表示する -->
                                <p></p> <!-- ←ここにquantityStr1を表示する -->
                                <p></p> <!-- ←ここにpriceStr1を表示する -->
                            </div>
                        </div>
                    </div>
                    <div class="order-summary">
                        <p></p> <!-- ←ここにtotalAmountStr1を表示する -->
                        <p>注文状況: 発送済み</p>
                        <a class="btn-order-detail">注文詳細を見る</a>
                    </div>
                </div>
            </div>
        
            <div class="order-item">
                <div class="order-header">
                    <span class="order-date">2024年4月15日</span>
                    <span class="order-number"></span> <!-- ←ここにorderNumber2を表示する -->
                </div>
                <div class="order-details">
                    <div class="product-list">
                        <div class="product-item">
                            <img th:src="@{/product-images/dummy/main_sample.png}" alt="商品画像" class="product-image">
                            <div class="product-info">
                                <h3></h3> <!-- ←ここにproduct2を表示する -->
                                <p></p> <!-- ←ここにquantityStr2を表示する -->
                                <p></p> <!-- ←ここにpriceStr1を表示する -->
                            </div>
                        </div>
                    </div>
                    <div class="order-summary">
                        <p></p> <!-- ←ここにtotalAmountStr1を表示する -->
                        <p>注文状況: 発送済み</p>
                        <a class="btn-order-detail">注文詳細を見る</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <link rel="stylesheet" th:href="@{/css/customer/order-history.css}">
</body>

</html>
