<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layouts/base :: layout(~{::title}, ~{::body/content()})}">

<head>
    <title>商品更新</title>
</head>

<body>
    <div class="content">
        <h1>商品更新</h1>

        <div th:if="${errorMessage != null}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="form-container">
            <form>
                <!-- 商品ID -->
                <input type="hidden">

                <div class="form-group">
                    <label>商品名</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>価格</label>
                    <input type="number" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">更新</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>