<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{admin/layouts/base :: layout(~{::title},~{::body/content()})}">

<head>
    <title>プロモーションコード登録完了</title>
</head>

<body>
    <div class="content">
        <h1>プロモーションコード登録完了</h1>
        <div class="form-container">
            <form th:object="${promotionCode}">
                <div class="form-group">
                    <label>プロモーションコード</label>
                    <input type="text" th:value="*{code}" readonly>
                </div>
                <div class="form-group">
                    <label>説明</label>
                    <input type="text" th:field="*{description}" readonly>
                </div>
                <div class="form-group">
                    <label>割引タイプ</label>
                    <input type="text" th:value="*{discountType==1 ? '割引率' : '固定額'}" readonly>
                </div>
                <div class="form-group">
                    <label>割引値</label>
                    <input type="text" th:field="*{discountValue}" readonly>
                </div>
                <div class="form-group">
                    <label>開始日</label>
                    <input type="date" th:field="*{startDate}" readonly>
                </div>
                <div class="form-group">
                    <label>終了日</label>
                    <input type="date" th:field="*{endDate}" readonly>
                </div>
            </form>
            <div class="button-group"></div>
                <a th:href="@{/admin/promotions/index}" class="btn btn-secondary">一覧に戻る</a>
            </div>
        </div>
    </div>
</body>

</html>